.buttons{
  position: absolute;
  top:50%;
  right: 0;
  width: 120px;
  transform: translateY(-50%);
}
.dwid {
  width: 40%;
  margin:0 auto;
  float: left;
}
button.left {
  margin-left: 77%;
  float: left;
}
form{
  text-align: center;
}
label{
  width: 240px;
  display: inline-block;
  text-align: left;
}
input{
  width: 20%;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  text-align: right;
}
#total{
  font-weight: bold;
}
.container{
  margin-top: 5%;
}

.col-sm {
  padding-bottom: 10px;
  
}
.col-mm {
  padding-bottom: 10px;
}


