html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.nlog {
    width: 50px;
}
.modal {
    padding-right: 40%; padding-top: 200px;
}
.modal-content {
    width: 250%
}
a {
    color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.pfp {
    color: white;
}
a:hover,
a:focus {
    color: rgb(255, 166, 0);
}

p {
    font-size: 16px;
    line-height: 1.5;
}
h1{
    font-weight: bold;
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('/images/header.jpg');
    background-color: black;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 100px;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


.page-footer {
	text-align: center;
	}

.page-footer .contact {
	padding: 50px 0;
	background-color: rgb(32, 32, 32);
	color: #fff;
	}

.page-footer .contact p {
	font-size: 20px;
	font-weight: 300;
	}
	

.page-footer .contact .glyphicon {
	font-size: 1px;
	font-weight: bold;
	}
		
.page-footer .small-print {
	padding: 50px 0 40px;
	font-weight: 300;
    background-color: white;
	}

.text-light {
    color: rgba(255,255,255,.7);
}


.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-warning {
    border-color: rgb(205, 169, 50);
    color: #fff;
    background-color: rgb(255, 166, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    border-color: yellow;
    color: black;
    background-color: rgb(255, 195, 83);
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}


.btn-warning .badge {
    color: black;
    background-color: #fff;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-warning {
    color: black;
}

.bg-warning {
    background-color: black;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  .fa {
    padding-left: 10px;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /* Twitter */
  .fa-github {
    background: #b176ff;
    color: white;
  }
  a span {
    color:white;
}
table {
    border-collapse:separate;
    border:solid black 5px;
    border-radius:15px;
    -moz-border-radius:15px;
}

td, th {
    border-radius:10px;
    border:solid white 2px;
}

th {
    background-color:black;
}

td:first-child, th:first-child {
     border-left: none;
}
  /*-------------------*/
